
<%- include('../_partials/header') %>

    <div class="dashboard-container">
        <%- include('../_partials/sidebar') %>

        <!-- Contenido Principal -->
        <main id="main-content">
            <%- include('../_partials/sub_header') %>
            <!-- Lista de Notificaciones -->
            <%- include('../_partials/notificaciones') %>

            <section id="calendario" >
                <h2 class="section-title">Calendario</h2>
                <!-- Contenido del calendario -->
                <div class="container">
                    <div class="calendar">
                        <div class="header">
                            <div class="month"></div>
                            <div class="btns">
                                <div class="btn today-btn">
                                    <i class="fas fa-calendar-day"></i>
                                </div>
                                <div class="btn prev-btn">
                                    <i class="fas fa-chevron-left"></i>
                                </div>
                                <div class="btn next-btn">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="weekdays">
                            <div class="day">Dom</div>
                            <div class="day">Lun</div>
                            <div class="day">Mar</div>
                            <div class="day">Mie</div>
                            <div class="day">Jue</div>
                            <div class="day">Vie</div>
                            <div class="day">Sab</div>
                        </div>
                        <div class="days">

                        </div>
                    </div>
                </div>
            </section>


        </main>
    </div>

<%- include('../_partials/footer') %>

